$primary-color: #333;
$secondary-color: #fff;


/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: $primary-color;
}

/*
 * Override Bootstrap's default container.
 */
 
 .container {
  width: 1280px;
}

.leaderboard{
  width: 900px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding-top: 0px;
  padding-bottom: 20px;
}
.title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

/*
 * Main column and sidebar layout
 */

.main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 10px;
  margin: 0 0px 0px;
}
.sidebar-module-inset {
  padding: 0px;
  border-radius: 4px;
}
.sidebar-module-inset {
  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}

/*
 * game window
 */

.game {
  margin-bottom: 0px;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

/* btn override */

$primary-btn-color: #e6e6e6;
$primary-btn-border-color: #adadad;

.btn-default {
  color: $secondary-color;
  background-color: $primary-color;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: $primary-btn-color;
  background-color: $primary-color;
  border-color: $primary-btn-border-color;
}
.btn-default:hover {
  color: $primary-btn-color;
  background-color: $primary-color;
  border-color: $primary-btn-border-color;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: $primary-btn-color;
  background-color: $primary-color;
  border-color: $primary-btn-border-color;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #d4d4d4;
  background-color: $primary-color;
  border-color: $primary-btn-border-color;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: $primary-color;
  border-color: #ccc;
}


/* Override Table */

$primary-table-color: #3b3b3b;
$secondary-table-color: #4a4a4a;

.table th {
  width:100%;
  background-color: $primary-table-color;
  color: $secondary-color;
  
  &.leaderboardwidth {
    width:50px;
  }
}
  
 table {
  width:100%;
  background-color: $primary-table-color;
  color: $secondary-color;
}
.table {
  margin-bottom: 0px;
}

.table .table {
  width:100%;
  background-color: $primary-table-color;
  color: $secondary-color;
} 

.table-striped > tbody > tr:nth-of-type(odd) {
  width:100%;
  background-color: $secondary-table-color;
  color: $secondary-color;
} 


