$primary-color: rgb(238, 238, 238);
$primary-dark-color: rgb(216, 216, 216);
$primary-darker-color: rgb(185, 185, 185);
$secondary-color: rgb(24, 24, 24);
$dark-text-color: #232323;
$primary-vivid-color: rgb(145, 84, 214);
$primary-vivid-dark-color: rgb(124, 72, 184);
$primary-vivid-darker-color: rgb(97, 56, 145);

/*
 * Globals
 */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: $secondary-color;
}

/*
 * Override Bootstrap's default container.
 */
.container {
   width: 100%;
}

.leaderboard{
  width: 900px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding-top: 0px;
  padding-bottom: 20px;
}
.title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

/*
 * Main column and sidebar layout
 */
.main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.leaderBoardMargin{
  margin-left: 0px;
}
.sidebar-module {
  padding: 10px;
  margin: 0 0px 0px;
}
.sidebar-module-inset {
  padding: 0px;
  border-radius: 4px;
}
.sidebar-module-inset {
  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}

/*
 * game window
 */
.game {
  margin-bottom: 0px;
}

.col-md-9{
  padding-left: 0px;
}

.rowGame {
  margin-left: 50px;
  margin-right: 50px;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* btn override */
$primary-btn-color: #e6e6e6;
$primary-btn-border-color: #adadad;

.btn-primary {
  background-color: $primary-vivid-color;
  border-color: rgb(82, 77, 92);
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
  background-color: $primary-vivid-dark-color;
  border-color: rgb(100, 95, 110);
}

.btn-primary:active:hover,
.btn-primary.active:hover {
  background-color: $primary-vivid-darker-color;
  border-color: rgb(82, 77, 92);
}

.btn-default {
  color: $secondary-color;
  background-color: $primary-color;
  border-color: #ccc;
}
.btn-default:active,
.btn-default.active,
.btn-default:hover,
.btn-default:focus,
.btn-default.focus {
  color: $secondary-color;
  background-color: $primary-dark-color;
  border-color: $primary-btn-border-color;
}
.btn-default:active:hover,
.btn-default.active:hover {
  color: $secondary-color;
  background-color: $primary-darker-color;
  border-color: $primary-btn-border-color;
}

.btn-secondary {
  border-top-color: rgb(85, 85, 85);
  border-right-color: rgb(85, 85, 85);
  border-bottom-color: rgb(85, 85, 85);
  border-left-color: rgb(85, 85, 85);
}


/* Override Table */
$primary-table-color: #f7f7f7;
$secondary-table-color: #d4d4d4;

.table th {
  width:100%;
  background-color: $primary-table-color;
  color: $dark-text-color;

  &.leaderboardwidth {
    width:50px;
  }
}

table {
  width:100%;
  background-color: $primary-table-color;
  color: $dark-text-color;
  margin-bottom: 0px;
}

.table .table {
  width:100%;
  background-color: $primary-table-color;
  color: $secondary-color;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  width:100%;
  background-color: $secondary-table-color;
  color: $dark-text-color;
}

.leaderboard-table > tbody > tr > td {
  vertical-align: middle;
}
.leaderboard-table > tbody > tr > td:hover {
  cursor: pointer;
}

.color-box {
  width: 10px;
  height: 10px;
}

.inactive-player {
  color: red !important;
}

.password-container {
  width: 600px;
  margin-top: 50px;
}

.admin-container .row + .row {
  margin-top: 30px;
}
